@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------
// Responsive Web Design Formula
// target ÷ container = ratio
// ratio * 100 = percent

$container: 960px;

#container {
  margin: 0 auto;
  width: $container;
}
article, aside {
  min-height: 200px;
}
article {
  background-color: #ccc;
  float: left;
  width: (620px / $container) * 100%;
}
aside {
  background-color: #666;
  float: right;
  width: (320px / $container) * 100%;
}