/* line 6, ../sass/partials/_fonts.scss */
body {
  color: #222222;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1.231;
}

/* line 7, ../sass/partials/_page.scss */
body, select, input, textarea {
  color: #222222;
}

/* line 27, ../sass/partials/_page.scss */
#container {
  margin: 0 auto;
  width: 100%;
}

/* line 31, ../sass/partials/_page.scss */
article, aside {
  min-height: 200px;
}

/* line 34, ../sass/partials/_page.scss */
article {
  background-color: #ccc;
  float: left;
  width: 66.66667%;
}

/* line 39, ../sass/partials/_page.scss */
aside {
  background-color: #666;
  float: right;
  width: 25%;
}

/* line 56, ../sass/partials/_page.scss */
aside {
  width: 100%;
}
@media screen and (min-width: 480px) {
  /* line 56, ../sass/partials/_page.scss */
  aside {
    width: 100px;
    float: right;
  }
}
@media screen and (min-width: 768px) {
  /* line 56, ../sass/partials/_page.scss */
  aside {
    width: 200px;
  }
}
@media screen and (min-width: 1024px) {
  /* line 56, ../sass/partials/_page.scss */
  aside {
    width: 400px;
  }
}

/* line 70, ../sass/partials/_page.scss */
.error, .warning {
  padding: 10px;
  margin: 10px;
}

/* line 74, ../sass/partials/_page.scss */
.error {
  color: red;
}

/* line 78, ../sass/partials/_page.scss */
.warning {
  color: yellow;
}

@media only screen and (max-width: 480px) {
  /* line 84, ../sass/partials/_page.scss */
  article {
    background-color: red;
    width: 100%;
  }

  /* line 88, ../sass/partials/_page.scss */
  aside {
    width: 100%;
  }

  /* line 91, ../sass/partials/_page.scss */
  .success {
    color: green;
  }
}
@media only screen and (min-width: 768px) {
  /* line 98, ../sass/partials/_page.scss */
  article {
    background-color: blue;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 119, ../sass/partials/_page.scss */
  article {
    width: 500px;
  }
}
