@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------
// @return ($grid-width - $grid-gutter * ($grid-columns - 1)) / $grid-columns * $cols + $grid-gutter * ($cols - 1);
// $grid-gutter: 10px;



$grid-columns: 12;
$grid-width: 960px;

@function column-width($cols) {
  @return (($grid-width / $grid-columns) * $cols / $grid-width) * 100%;
}

// Responsive Web Design Formula
// target ÷ container = ratio
// ratio * 100 = percent

#container {
  margin: 0 auto;
  width: 100%;
}
article, aside {
  min-height: 200px;
}
article {
  background-color: #ccc;
  float: left;
  width: column-width(6);
}
aside {
  background-color: #666;
  float: right;
  width: column-width(6);
}