/* line 6, ../sass/partials/_fonts.scss */
body {
  color: #222222;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1.231;
}

/* line 23, ../sass/partials/_page.scss */
body, select, input, textarea {
  color: #222222;
}

/* line 41, ../sass/partials/_page.scss */
button, .button {
  border-radius: 4px;
  box-shadow: #444 0 1px 0;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin: 0 5px 0 0;
  padding: 5px 10px;
  position: relative;
}
/* line 50, ../sass/partials/_page.scss */
button:hover, .button:hover {
  background-color: #666;
  color: #efefef;
}
/* line 54, ../sass/partials/_page.scss */
button:active, .button:active {
  bottom: -1px;
  box-shadow: none;
}

/* line 59, ../sass/partials/_page.scss */
a {
  text-decoration: none;
}

/* line 62, ../sass/partials/_page.scss */
.button-primary {
  background-color: #94a57f;
  border: 1px solid #94a57f;
  color: #fff;
}

/* line 67, ../sass/partials/_page.scss */
.button-secondary {
  background-color: #8a9aa2;
  border: 1px solid #8a9aa2;
  color: #fff;
}

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
