/* line 6, ../sass/partials/_fonts.scss */
body {
  color: #222222;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1.231;
}

/* line 23, ../sass/partials/_page.scss */
body, select, input, textarea {
  color: #222222;
}

/* line 69, ../sass/partials/_page.scss */
.button-primary {
  box-shadow: #61704e 0 1px 0;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #94a57f;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin: 0 5px 0 0;
  padding: 5px 10px;
  position: relative;
}
/* line 59, ../sass/partials/_page.scss */
.button-primary:hover {
  background-color: #a1b08e;
  color: #efefef;
}
/* line 63, ../sass/partials/_page.scss */
.button-primary:active {
  bottom: -1px;
  box-shadow: none;
}

/* line 72, ../sass/partials/_page.scss */
.button-secondary {
  box-shadow: #58676e 0 1px 0;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  background-color: #94a57f;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin: 0 5px 0 0;
  padding: 5px 10px;
  position: relative;
}
/* line 59, ../sass/partials/_page.scss */
.button-secondary:hover {
  background-color: #98a6ad;
  color: #efefef;
}
/* line 63, ../sass/partials/_page.scss */
.button-secondary:active {
  bottom: -1px;
  box-shadow: none;
}

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
