@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

nav {
  margin: 20px;
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 3px;
  }

  a{
    background-color: #ccc;
    color: #333;
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    &:hover {
      background-color: #333;
      color: #efefef;
    }
  }
  .ie7 &{
    background-color: red;
    ul {
      background-color: black;
    }
  }
  .no-border-radius &{
    background-image: url(#);
  }
}