
// Here's where we define some default constants
@import "partials/base";

// Or, you can import the "overrides" partial if
// you want more control over individual mixins
//@import "partials/overrides";

// Finally, put your own styles in these partials
// and add more as needed (i.e. forms, tables, nav)
@import "partials/fonts";
@import "partials/page";


// Media should come last
@import "partials/media";

body {
  background-color: red;
}