@import "compass/css3";

$red:   #ff8566;
$blue:  #8a9aa2;
$green: #94a57f;
$black: #49312a;
$grey:  #a9a095;
$tan:   #fefbee;

$color-brand-primary:   $green;
$color-brand-secondary: $blue;
$color-brand-accent:    $red;

$color-background:      $tan;
$color-text:            $black;
$color-link:            $color-brand-secondary;
$color-link-hover:      $color-brand-accent;

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------
// @if $variable ==  {
// } @else if $variable ==  {
// } @else {
// }
// @include background(linear-gradient());
@mixin happy-border-radius($radius) {
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius; 
}

@mixin button($color, $shadow, $radius) {
  @if $shadow {
    box-shadow: darken($color, 20%) 0 1px 0;
  } 
  @if $radius {
    @include happy-border-radius($radius);  
  }
  background-color: $color-brand-primary;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin: 0 5px 0 0;
  padding: 5px 10px;
  position: relative;
  &:hover {
    background-color: lighten($color, 5%);
    color: #efefef;
  }
  &:active {
    bottom: -1px;
    box-shadow: none;
  }
}

.button-primary {
  @include button($color-brand-primary, yes, 4px);
}
.button-secondary {
  @include button($color-brand-secondary, no, 20px)
}

