@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------
$icon-type: small;

.icon {
  @if $icon-type == large {
    height: 100px;
    width: 100px;
  } @else {
    height: 50px;
    width: 50px;
  }
}

@for $i from 1px to 5px {
  .border-#{$i} {
    border: $i solid #000;
  }
}

$emotions: happy sad excited mustached;

@each $emotion in $emotions {
  .feeling-#{$emotion} {
    background-image: url("images/feeling-#{$emotion}");
  }
}