/* line 6, ../sass/partials/_fonts.scss */
body {
  color: #222222;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1.231;
}

/* line 32, ../sass/partials/_page.scss */
body, select, input, textarea {
  color: #49312a;
}

/* line 41, ../sass/partials/_page.scss */
.tiles {
  margin-top: 20px;
}
/* line 43, ../sass/partials/_page.scss */
.tiles div {
  background-color: #ccc;
  border-radius: 50px;
  display: inline-block;
  height: 50px;
  margin: 0 5px;
  width: 50px;
}
/* line 51, ../sass/partials/_page.scss */
.tiles .tile-1 {
  background-color: #ff8566;
}
/* line 54, ../sass/partials/_page.scss */
.tiles .tile-2 {
  background-color: #8a9aa2;
}
/* line 57, ../sass/partials/_page.scss */
.tiles .tile-3 {
  background-color: #94a57f;
}
/* line 60, ../sass/partials/_page.scss */
.tiles .tile-4 {
  background-color: #49312a;
}
/* line 63, ../sass/partials/_page.scss */
.tiles .tile-5 {
  background-color: #fefbee;
}
/* line 66, ../sass/partials/_page.scss */
.tiles .abomination {
  background-color: #ff732a;
}

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
